<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mrag.repository.dao.InfoOrderItemMapper">
  <resultMap id="BaseResultMap" type="com.github.mrag.repository.persistence.InfoOrderItemDO">
    <id column="order_item_id" jdbcType="BIGINT" property="orderItemId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="price" jdbcType="DECIMAL" property="price" />
  </resultMap>
  <sql id="Base_Column_List">
    order_item_id, order_id, item_id, price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from info_order_item
    where order_item_id = #{orderItemId,jdbcType=BIGINT}
  </select>
  <select id="selectByOrderId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from info_order_item
    where order_id = #{orderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from info_order_item
    where order_item_id = #{orderItemId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.github.mrag.repository.persistence.InfoOrderItemDO">
    <selectKey keyProperty="orderItemId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into info_order_item (order_id, item_id, price
      )
    values (#{orderId,jdbcType=BIGINT}, #{itemId,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.github.mrag.repository.persistence.InfoOrderItemDO">
    <selectKey keyProperty="orderItemId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into info_order_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.mrag.repository.persistence.InfoOrderItemDO">
    update info_order_item
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
    </set>
    where order_item_id = #{orderItemId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.mrag.repository.persistence.InfoOrderItemDO">
    update info_order_item
    set order_id = #{orderId,jdbcType=BIGINT},
      item_id = #{itemId,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL}
    where order_item_id = #{orderItemId,jdbcType=BIGINT}
  </update>
</mapper>